<!--blog Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

      <div class="section-heading">
          <h3>{{blog.tagline}}</h3>
          <h2 class="section-title">{{blog.title | uppercase}}</h2>
      </div>
      <div class="post-block col-3 wow fadeInUp" data-wow-delay="0.4s" *ngFor = "let post of blog.posts" >
        <app-post [post] = "post"></app-post>
      </div>
      <div>
        <ul>
          <li><a href="">First</a></li>
          <li><a href="">Previous</a></li>
          <li><a href="">Current</a></li>
          <li><a href="">Next</a></li>
          <li><a href="">Last</a></li>
        </ul>
      </div>
       

  </div>
</section>
<!--End of blog Tables-->